@using EdizonCategorizer.Data

<div class="cheats-container row pt-2">
    <CascadingValue Value="this">
        @ChildContent
    </CascadingValue>
</div>

@code {

    [Parameter]
    public List<Data.CheatSection> Sections { get; set; } = new();

    [Parameter]
    public RenderFragment ChildContent { get; set; } = null!;

    [Parameter]
    public EventCallback<Data.CheatSection> OnStatusUpdated { get; set; }

    public Cheat Payload { get; set; } = new();
    
    public async Task MoveCheat(string targetSection)
    {
        var source = Sections.First(x => x.Cheats.Any(y => y.Name.Equals(Payload.Name)));
        var target = Sections.First(x => x.Name.Equals(targetSection));
        target.Cheats.Add(Payload);
        source.Cheats.Remove(Payload);

        await OnStatusUpdated.InvokeAsync(source);
        await OnStatusUpdated.InvokeAsync(target);
    }
}