@page "/"
@using EdizonCategorizer.Data
@using System.IO
@using EdizonCategorizer.Shared.Components
@inject CheatsRepository repository;

<PageTitle>Penis</PageTitle>

<h1 class="pb-2">Categorize your stuff</h1>

<InputFile OnChange="@ReadCheatFile"></InputFile>

    <CheatsContainer Sections="Cheats" OnStatusUpdated="@(() => ShouldRender())">
        @foreach (var section in Cheats)
        {
            <CheatSection Section="section"/>
        }
    </CheatsContainer>

@code {
    private async Task ReadCheatFile(InputFileChangeEventArgs obj)
    {
        var path = Path.Combine(Path.GetTempPath(),obj.File.Name);
        FileStream fs = new(path, FileMode.Create);
        await obj.File.OpenReadStream().CopyToAsync(fs);
        await fs.FlushAsync();
        await fs.DisposeAsync();

        Cheats = repository.DeserializeFrom(path).ToList();
        File.Delete(path);
    }

    private List<Data.CheatSection> Cheats = new();
}